.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    width: 500px;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
}

.textBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.textarea {
    border: none;
    border-radius: 0.25rem;
    outline: 1px solid #f5f5f5;
    width: 100%;
    height: 300px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.textarea:focus {
    outline: 1px solid oklch(45.7% .24 277.023);
}

.start {
    padding: 0.75rem;
    color: #fff;
    cursor: pointer;
    background-color: oklch(51.1% .262 276.966);
    border-radius: 0.25rem;
    width: 100%;
    transition: all 0.3s;
}

.start:hover {
    background-color: oklch(45.7% .24 277.023);
}

.examBox {
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid #f5f5f5;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.word {
    font-size: 1.5rem;
}

.answerBox {
    width: 100%;
}

.answer {
    padding: 0.25rem;
    width: 100%;
    border: 1px solid #f5f5f5;
    border-radius: 0.25rem;
    outline: none;
    transition: all 0.3s;
}

.answer:focus {
    border: 1px solid oklch(45.7% .24 277.023);
}

.buttonBox {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.send {
    padding: 0.25rem 1rem;
    color: #fff;
    cursor: pointer;
    background-color: #00b026;
    border-radius: 0.25rem;
    transition: all 0.3s;
}

.send:hover {
    background-color: #009a21;
}

.result {
    font-weight: 600;
}

.wrongBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.wrongTitle {
    font-size: 1.5rem;
}

.wrongTable {
    width: 100%;
    border: 1px solid #f5f5f5;
    border-radius: 0.25rem;
}

.wrongTable th {
    padding: 0.5rem;
    border: 1px solid #f5f5f5;
}

.wrongTable td {
    padding: 0.5rem;
    border: 1px solid #f5f5f5;
}